<div class="row mb-3">
  <div class="mb-3 mb-sm-0">
    <div class="card">
      <div class="card-header">
        <h4>Тип покупки</h4>
      </div>
      <div class="card-body">

        <h6>id типа</h6>
        <p>{{ purchaseType.id }}</p>
        <h6>Наименование типа покупки</h6>
        <p>{{ purchaseType.name }}</p>

      </div>
      <div class="card-footer">
        <!-- Update button trigger modal -->
        <button type="button" class="btn btn-warning me-md-2" data-bs-toggle="modal" data-bs-target="#updateModal">
          Редактировать
        </button>
        <!-- Delete button trigger modal -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Редактирование данных типа покупки</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group mb-3">
          <label for="purchase_type_name" class="form-label">Наименование *</label>
          <input type="text" class="form-control" id="purchase_type_name"
                 [(ngModel)]="purchaseType.name" name="purchase_type_name">
          <div id="purchase_type_name_help" class="form-text">
            Наименование типа покупки
          </div>
        </div>

        <label class="form-label"><mark>Поля, отмеченные "*" обязательны к заполнению</mark></label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                (click)="updatePurchaseType()">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-danger">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Подтвердите удаление</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Внимание! Данное действие приведет к полному удалению без возможности восстановления
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="deletePurchaseType()">
          Подтвердить
        </button>
      </div>
    </div>
  </div>
</div>
