<h4 class="p-3">Магазины</h4>

<table class="table table-sm table-striped table-bordered">
  <thead>
  <tr class="text-md-center">
    <th>id</th>
    <th>Наименование магазина</th>
    <th>Адрес магазина</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let shop of shopList">
    <td class="text-md-center"> {{ shop.id }}</td>
    <td> {{ shop.name }}</td>
    <td> {{ shop.address }}</td>
    <td class="text-md-center">
      <button (click)="shopDetails(shop.id)"
              name="shop_details"
              class="btn btn-outline-primary btn-sm">
        Просмотреть
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createShop">
  Добавить
</button>

<hr>

<!-- Import from csv -->
<h5 class="mb-3">Импорт данных из csv-файла</h5>
<div class="form-group mb-3">
  <input class="form-control" type="file" (change)="onFileSelected($event)" #fileUpload id="formFile" accept=".csv">
</div>

<div *ngIf="importedData" class="mb-3">
  <h6 class="mb-3">Данные к импорту</h6>
  <table class="table table-sm table-striped table-bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>Наименование магазина</th>
      <th>Адрес магазина</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let data of importedData">
      <td> {{ data.id }}</td>
      <td> {{ data.name }}</td>
      <td> {{ data.address }}</td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-warning" (click)="saveImportedDataToDatabase()">
    Сохранить
  </button>

</div>



<!-- Create Shop Modal -->
<div class="modal fade" id="createShop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="createShopLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createShopLabel">Добавление нового магазина</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group mb-3">
          <label for="shop_name" class="form-label">Наименование *</label>
          <input type="text" class="form-control" id="shop_name"
                 [(ngModel)]="shop.name" name="shop_name">
          <div id="shop_name_help" class="form-text">
            Наименование магазина
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="shop_address" class="form-label">Адрес *</label>
          <input type="text" class="form-control" id="shop_address"
                 [(ngModel)]="shop.address" name="shop_address">
          <div id="shop_address_help" class="form-text">
            Адрес магазина
          </div>
        </div>

        <label class="form-label"><mark>Поля, отмеченные "*" обязательны к заполнению</mark></label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                (click)="createShop()">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>


