<h4 class="p-3">Электротовары</h4>

<table class="table table-sm table-striped table-bordered">
  <thead>
  <tr class="text-md-center">
    <th>id</th>
    <th>Наименование</th>
    <th>Тип</th>
    <th>Цена, руб</th>
    <th>Кол-во</th>
    <th>В архиве</th>
    <th>Описание</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let electroItem of electroItemList">
    <td class="text-md-center"> {{ electroItem.id }}</td>
    <td> {{ electroItem.name }}</td>
    <td class="text-md-center"> {{ electroItem.electroType?.name }}</td>
    <td class="text-md-center"> {{ electroItem.price }}</td>
    <td class="text-md-center"> {{ electroItem.count }}</td>
    <td  class="text-md-center">
      <div class="text-bg-danger" *ngIf="electroItem.archive">*</div>
    </td>
    <td> {{ electroItem.description }}</td>
    <td class="text-md-center">
      <button (click)="itemDetails(electroItem.id)"
              name="position-type_details"
              class="btn btn-outline-primary btn-sm">
        Просмотреть
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createItem">
  Добавить
</button>

<hr>

<!-- Import from csv -->
<h5 class="mb-3">Импорт данных из csv-файла</h5>
<div class="form-group mb-3">
  <input class="form-control" type="file" (change)="onFileSelected($event)" #fileUpload id="formFile" accept=".csv">
</div>

<div *ngIf="importedData" class="mb-3">
  <h6 class="mb-3">Данные к импорту</h6>
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>Наименование</th>
      <th>Тип</th>
      <th>Цена, руб</th>
      <th>Количество</th>
      <th>В архиве</th>
      <th>Описание</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let electroItem of importedData">
      <td> {{ electroItem.id }}</td>
      <td> {{ electroItem.name }}</td>
      <td> {{ electroItem.electroType?.name }}</td>
      <td> {{ electroItem.price }}</td>
      <td> {{ electroItem.count }}</td>
      <td>
        <div class="text-bg-danger" *ngIf="electroItem.archive">*</div>
      </td>
      <td> {{ electroItem.description }}</td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-warning" (click)="saveImportedDataToDatabase()">
    Сохранить
  </button>

</div>

<!-- Create positionType Modal -->
<div class="modal fade" id="createItem" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="createItemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createItemLabel">Добавление нового товара</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group mb-3">
          <label for="item_name" class="form-label">Наименование *</label>
          <input type="text" class="form-control" id="item_name"
                 [(ngModel)]="electroItem.name" name="item_name">
          <div id="item_name_help" class="form-text">
            Наименование товара
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="item_type" class="form-label">Тип товара *</label>
          <select class="form-select" [ngModel]="ElectroType"
                  (ngModelChange)="onChangeType($event)" name="type_select">
            <option *ngFor="let itemType of electroTypeList" [ngValue]="itemType" id="item_type">
              {{ itemType.name }}
            </option>
          </select>
          <div id="item_type_help" class="form-text">
            Выберите тип товара
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="item_price" class="form-label">Стоимость, руб *</label>
          <input type="number" step="1" class="form-control" id="item_price"
                 [(ngModel)]="electroItem.price" name="item_price">
          <div id="item_price_help" class="form-text">
            Стоимость товара
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="description" class="form-label">Описание *</label>
          <textarea class="form-control" id="description" rows="3"
                    [(ngModel)]="electroItem.description"></textarea>
          <div id="description_help" class="form-text">
            Описание товара
          </div>
        </div>

        <label class="form-label"><mark>Поля, отмеченные "*" обязательны к заполнению</mark></label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                (click)="createItem()">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>


