<h4>Тестовое задание</h4>
<p>Необходимо разработать два web-приложения:</p>

<ul>
  <li>позволяет управлять деятельностью сети магазинов по продаже электроники</li>
  <li>приложение-визитка, в котором выводится информация, определенная в функциональных требованиях
  </li>
</ul>
<h5>Реализация приложений:</h5>
<p>Вариант реализации web-интерфейса (frontend) + микросервис с использованием spring-boot (backend)</p>
<p>Приложения обязательно должны иметь web-интерфейс, данные должны храниться в СУБД postgresql</p>

<h5>Общие функциональные требования к приложению 1:</h5>

<ul>
  <li>Хранение основных реестров для добавления, отображения и редактирования информации (список реестров описан в
    wiki)
  </li>
  <li>Хранение вспомогательных справочников (с возможностью редактирования) для идентификации данных в основных реестрах
    (список справочников описан в wiki)
  </li>
  <li>Хранение вспомогательных связующих таблиц для определения множественных ссылок между таблицами (подробнее об этом
    в структуре БД)
  </li>
  <li>Сортировка реестра покупок - по дате осуществления покупки</li>
  <li>Импорт данных из файлов csv – файлы будут запакованы в zip-архив</li>
  <li>Проверка на наличие необходимого товара в магазине, в противном случае – запись о покупке не формировать и вывести
    соответствующую информацию об ошибке во всплывающей подсказке
  </li>
</ul>

<h5>Общие функциональные требования к приложению 2:</h5>

<ul>
  <li>Вывод информации о лучших сотрудниках, в зависимости от занимаемой должности. Критерии – количество проданных
    товаров, на какую сумму продано товаров за последний год.
  </li>
  <li>Вывод информации по определенным критериям.</li>
</ul>
