<div class="row mb-3">
  <div class="mb-3 mb-sm-0">
    <div class="card">
      <div class="card-header">
        <h4>Магазин</h4>
      </div>
      <div class="card-body">

        <h6>id магазина</h6>
        <p>{{ shop.id }}</p>
        <h6>Наименование магазина</h6>
        <p>{{ shop.name }}</p>
        <h6>Адрес магазина</h6>
        <p>{{ shop.address }}</p>

      </div>
      <div class="card-footer">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Редактировать
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Create Shop Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Редактирование данных магазина</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group mb-3">
          <label for="shop_name" class="form-label">Наименование *</label>
          <input type="text" class="form-control" id="shop_name"
                 [(ngModel)]="shop.name" name="shop_name">
          <div id="shop_name_help" class="form-text">
            Наименование магазина
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="shop_address" class="form-label">Адрес *</label>
          <input type="text" class="form-control" id="shop_address"
                 [(ngModel)]="shop.address" name="shop_address">
          <div id="shop_address_help" class="form-text">
            Адрес магазина
          </div>
        </div>

        <label class="form-label"><mark>Поля, отмеченные "*" обязательны к заполнению</mark></label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                (click)="updateShop()">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>
